body{
    background: #ecf0f3;
    font-family: 'Roboto', sans-serif;
}
/* --------HOME NAVBAR CSS--------- */
#root .App .Home .MuiPaper-root{
    background: #2189d8 !important;
    border-radius: 20px;
    box-shadow: 13px 13px 20px #7f7f7f,
    -13px -13px 20px #fff;
    width: min(100% - 2rem);
    margin: 10px auto
}
#root .App .Home .MuiPaper-root .MuiBox-root .MuiButton-root{
    color: rgb(255, 219, 219);
    font-size: 18px;
    text-transform: capitalize;
}
#root .App .Home .MuiPaper-root .MuiAvatar-root{
    box-shadow: -0px 0px 2px #b8b8b8, 0px 0px 0px 2px #ffffff, 5px 2px 8px #717171,
    -5px -2px 10px rgb(159, 194, 255)
    ;
}
#root .App .Home .MuiPaper-root .MuiToolbar-root .MuiTypography-root{
    color:#ffe2e2;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: bold;
}