*{
    margin: 0;
    padding: 0
}
.MuiDialog-container{
    margin: auto !important
}
.MuiDialog-paper{
    margin: 10px !important;
    height: 97vh;
}
.MuiDialog-container h2{
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.splide{
    display: flex;
    flex-direction: column-reverse;
}
.splide__slide{
    height: 400px;
    overflow: scroll;
}
.splide__arrow{
    display: none;
}
.splide__pagination{
    position: relative;
    margin-bottom: 20px
}
.splide__pagination li{
    width: 120px;
    height: 50px;
    margin: 0px 10px
}
.splide__pagination__page{
    width: 100%;
    height: 100%;
    margin: 0;
    border-radius: 0;
    font-size: 19px;
    background:rgb(255, 242, 242)
}
.splide__pagination__page.is-active{ position: relative; transition: .3s; transform: scale(1.2) !important;}
.splide__pagination__page.is-active:after{
    content: '';
    background: rgb(255, 62, 62);
    width: 100%;
    height: 2px;
    position: absolute;
    bottom:0;
    left: 0;
    transition: .3s;
}
.splide__pagination li:nth-child(1) button:before{
    content: 'General'
}
.splide__pagination li:nth-child(2) button:before{
    content: 'Team'
}
.splide__pagination li:nth-child(3) button:before{
    content: 'Task'
}

.main-project .single-project span{
    margin: 0px 5px;
    color: white;
    font-weight: bold;
    font-size: 13px;
    border-radius: 20px;
    padding: 2px 7px 0px 7px
}
.main-project .customer-name .project-name{
    
    display: flex;
}
.new-project button{
    margin: 20px 0px
}

